<div class = "flex flex-col h-screen">
    <div>
        <header-top-menu/>
        <navbar/>
    </div>
    
    <div class = "flex-1">
        <div class="min-h-full flex flex-col items-center">
            <div class = "w-1/2 flex flex-col gap-2">
                <p class = "text-customRed font-[Poppins] underline underline-offset-[12px] text-3xl __scale w-fit">Projects</p>
                <div class = "flex flex-row flex-wrap justify-between mb-8">
                    @for(project of projects; track $index){
                        <div class = "w-96 mt-10">
                            <project-container
                            [project_name]= "project.name"
                            [project_description]= project.description
                            [project_link]= project.github_link
                            [project_tech]= project.tech
                            />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class = "min-h-14">
        <footer-component></footer-component>
    </div>
</div>