
@if(techColour){
    <div class="flex flex-col justify-center items-center align-middle w-12 gap-2">
        <img class = "w-12  __white" [src] = "techPath"/>
        <p class="text-customWhite font-[Poppins] font-bold flex justify-center">{{techName}}</p>
    </div>
}
@else{
    <div class="flex flex-col justify-center items-center align-middle w-12 gap-2">
        <img class = "w-12" [src] = "techPath"/>
        <p class="text-customWhite font-[Poppins] font-bold flex justify-center items-center text-center">{{techName}}</p>
    </div>
}